<html lang="en">
    <head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Blog Ninja | <%=title %></title>
    </head>
    <%- include('./partials/head.ejs')%>
    <body>
        <%- include('./partials/nav.ejs')%>
      <div class="about content">
  <h2>About us</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dicta, distinctio obcaecati id, eius tenetur vitae voluptatibus libero officiis qui cupiditate minus amet. Explicabo commodi dolore itaque recusandae, saepe deserunt! </p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dicta, distinctio obcaecati id, eius tenetur vitae voluptatibus libero officiis qui cupiditate minus amet. Explicabo commodi dolore itaque recusandae, saepe deserunt! </p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dicta, distinctio obcaecati id, eius tenetur vitae voluptatibus libero officiis qui cupiditate minus amet. Explicabo commodi dolore itaque recusandae, saepe deserunt! </p>

  </div>
  <%- include(./partials/footer.ejs') %>
    </body>
</html>